[submodule "esp32/components/AccelStepper"]
	path = esp32/components/AccelStepper
	url = git@github.com:sdobz/AccelStepper-esp-idf.git
[submodule "arduino/logic_analyzer"]
	path = arduino/logic_analyzer
	url = https://github.com/aster94/logic-analyzer
